* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background: lightblue;
}

.error {
  color: red;
}

.success {
  color: limegreen;
}

.login-status {
  color: limegreen;
}

.logout-status {
  color: red;
}

img {
  width: 300px;
  height: 200px;
}
